/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Fontin import */

/* Exo 2 | font-family: "Exo 2", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* Dosis | font-family: "Dosis", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Lato | font-family: "Lato", sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Margin ja padding = 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Dosis", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    background-color: rgb(31, 32, 33);
}

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Index Background */
.index-container {
    background-image: url("/pictures/Transparentv2.png"), url("/pictures/bg2.jpg");
    background-size: auto 100%, cover;
    background-position: right center, center;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5vw;
}

/* Index Nimi */
h1.index {
    font-size: 10vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Exo 2", sans-serif;
    transform: translateX(-2vh) translateY(-7vh);
}

/* Index Titles */
h2.index {
    font-size: 3vw;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    color: #1278ab;
    font-family: "Dosis", sans-serif;
    transform: translateX(-2vh) translateY(-7vh);
}

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Page Background Settings */
.page-container {
    background-image: url("/pictures/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    max-width: 1200px;
    padding: 0 2vw;
}

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Experience*/

h1.exptitle {
    font-size: 7vw;
    margin-bottom: 0rem;
    font-family: "Lato", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: #1278ab;
    max-width: 1200px;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 80%;
    margin-bottom: 2rem;
}

.exp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 150px;
    width: 80%;
    margin-bottom: 2rem;
}

.exp {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp h1 {
    font-size: 5vw;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    /* margin-bottom: 1rem; */
    font-family: "Exo 2", sans-serif;
}

.exp h2 {
    font-size: 3vw;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    /* margin-bottom: 1rem; */
    font-family: "Dosis", sans-serif;
    color: #1278ab;
}

.exp p {
    font-size: 2vw;
    line-height: 1.6;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
}

.exp-logo {
    max-width: 15vw;
    width: 100%;
    margin-left: 1rem;
}

.exp-logo img {
    width: 100%;
    height: auto;
}

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Skills */

.skills-container {
    width: 80%;
    max-width: 1200px;
}

.skills-container h1 {
    font-size: 7vw;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    color: #1278ab;
}

/* Each Skill Section */
.skill {
    margin-bottom: 1.5rem;
}

.skill h2 {
    font-size: 3vw;
    margin-bottom: 0.5rem;

    font-family: "Exo 2", sans-serif;
}

/* Skill Bar Background */
.skill-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

/* Skill Level Bar */
.skill-level {
    height: 2.5vw;
    background-color: #1278ab;
    text-align: right;
    padding-right: 10px;
    line-height: 2.5vw;
    color: white;
    border-radius: 10px 0 0 10px;
    font-size: 2vw;
}

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Contact*/
.contact {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5vw;
    border-radius: 10px;
    min-width: 400px;
    max-width: 800px;
    color: white;
}

.contact h1 {
    font-size: 7vw;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Exo 2", sans-serif;
    color: #1278ab;
}

.contact h2 {
    font-size: 5vw;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    /* Apply your font */
}

.contact h3 {
    font-size: 3vw;
    line-height: 1.6;
    font-family: 'Dosis', sans-serif;
    /* Apply your font */
}

img.Image {
    max-width: 100%;
}

/*
div#ImageContainer {
    width: 60vw;
} */

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
/* Navigaatio & Mobiili*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    top: 0;
    left: 0;
    font-family: "Lato", sans-serif;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem;
    font-size: 2.5vw;
    max-width: 1200px;
}

/* Navigaatio hover */
.navbar a:hover {
    background-color: rgba(18, 120, 171, 0.3);
}

/* Navigaation linkit */
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

/* Hamburger valikko*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Hamburger kuvake */
.hamburger div {
    width: 25px;
    height: 4px;
    background-color: #1278ab;
    margin: 4px 0;
}

/* Mobiilivalikko */
.nav-links.mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: 'Lato', sans-serif;
}

.nav-links.mobile a {
    padding: 1rem;
    text-align: center;
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
}

/* Näytä Mobiilivalikko */
.nav-links.mobile.show {
    display: flex;
}

/* ---------- ---------- ---------- ---------- ---------- */
/* Desktopversio */
@media (min-width: 1200px) {

    h1.index {
        font-size: 80px;
    }

    h1.exptitle,
    .skills-container h1,
    .contact h1 {
        font-size: 70px;
    }

    .exp h1,
    .contact h2 {
        font-size: 50px;
    }

    h2.index,
    .exp h2,
    .skill h2,
    .contact h3 {
        font-size: 30px;
    }

    .skill-level,
    .navbar a {
        font-size: 25px;
    }

    .exp p {
        font-size: 20px;
    }

    .exp-logo {
        max-width: 150px;
    }

    /* Scale down padding */
    .skills-container,
    .index-container,
    .page-container {
        padding: 0;
    }

    .contact {
        padding: 50px;
    }

    .navbar {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .page-container {
        max-width: 1200px;
        margin: 0 auto;
        /* Center the page-container */
        left: 0;
        right: 0;
        /* Center it */
    }
}

/* Mobiiliversio */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.mobile.show {
        display: flex;
    }

    .exp {
        margin-bottom: 2rem;
    }

    .exp-logo {
        max-width: 12vw;
    }
}

/* ---------- ---------- ---------- ---------- ---------- */
/* ---------- ---------- ---------- ---------- ---------- */
